{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-eval": "off",
    "no-console": "warn",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-case-declarations": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
