html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex: 1;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.appConainer {
  display: flex;
  flex: 1;
}

.resizer {
  width: 12px;
  margin: 0 05px;
  cursor: ew-resize;
  background-color: #3a3f44;
}

.monaco-editor,
.overflow-guard {
  width: 100% !important;
}
.console {
  word-wrap: break-word;
  word-break: break-all;
  padding: 20px;
  font-size: large;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.error {
  color: #e54e4e;
}

.test {
  background: #e54e4e;
  height: 50px;
}
