@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif; 
}

.split {
    display: flex;
    height: 100%;
}

.gutter {
    background-color: #444;
    cursor: col-resize;
}

.gutter.gutter-horizontal {
    width: 6px; }